@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Juste à côté</h1>
    <p class="lead">Vos commerçants à portée de clics :) </p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">En savoir plus... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vos commerçants de qualité</h2>
        <p>Des produits frais, de qualité à côté de chez vous: si si c'est possible :)</p>
        <p><a class="btn btn-default" href="<%= Url.Action("Product", "DisplayAllProducts") %>">Voir les produits &raquo;</a></p>
    </div>
   
</div>