@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Juste à côté</h1>
    <p class="lead">Vos commerçants à portée de clics :) </p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">En savoir plus... &raquo;</a></p>
</div>

